*{
  background-color: #e4e4e4;
  margin: 0;
}

img{
  height: 747px;
  width: 768.9px;
  float: right;
  margin: 0;
  border: 0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction:row-reverse;
}
.heading{
  color: #000;
  font-size: 2em ;
  text-align: center;
}
h1{
  font-weight: 100;
}

.noto-serif-display-uniquifier{
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

p,.montserrat-uniquifier{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h3{
  font-size:2rem;
  float: right;
}

.topnav {
  overflow: hidden;
  background-color: #e4e4e4;
}

.topnav a {
  color:#000;
  text-align: center;
  margin: 60px 60px;
  text-decoration: none;
  font-size:27px;
}

.topnav a:hover {
  background-color: #f6f6f6;
  color:#dcdcdc ;
}

footer{
  clear: both;
}